@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,900,900i&display=swap');

body, html {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

h1, p, input, button {
    font-family: 'Muli', sans-serif;
}

h1, p, button {
    color: #FFF;
}

.background {
    background-image: url(../assets/images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 100vh;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 150px;
}

form {
    width: 320px;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 15px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    outline: none;
} 

button {
    margin: 10px 0;
    padding: 15px 12px;
    background-color: #FFA36C;
    background-image: linear-gradient(to top right, #FFA36C, #FD1D4B);
    background-position: 0 0;
    background-size: 200% 200%;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.15);
    outline: none;
    cursor: pointer;
}

button:hover {
    transition: 0.3s all ease;
    background-position: 50% 0;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.15);
}

#alert {
    display: none;
}