version: "3.7"
services:
  nginx:
    image: nginx:1.17-alpine
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf
      - ./config/sites-enabled/:/etc/nginx/sites-enabled/
      - ./landing/:/etc/nginx/html/landing/
      - ./ssl:/etc/letsencrypt
      