@import "./variables.scss";
@font-face {
font-family: "PlutoLight";
src: url("../assets/fonts/PlutoLight.eot");
src:
url("../assets/fonts/PlutoLight.woff") format("woff"),
url("../assets/fonts/PlutoLight.ttf") format("truetype"),
}
@font-face {
font-family: "PlutoMedium";
src: url("../assets/fonts/PlutoMedium.eot");
src:
url("../assets/fonts/PlutoMedium.woff") format("woff"),
url("../assets/fonts/PlutoMedium.ttf") format("truetype"),
}

.footer-bg {
  background-color: $black;
  width: 100%;
  padding-bottom: 10px;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  color: #FFF;
  left: 0;
  bottom: 0;
  width: 85%;
  margin: auto;
  .wrapper-rs {
    margin-top: 50px;
    .rs {
      display: flex;
      align-items: flex-start;
      margin: 15px 0;
      hr {
        margin: 0 10px;
        height: 20px;
      }
    }
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    .footer-nav-bloc {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      .title-nav {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: $greyfooter;
        margin-bottom: 15px;
      }
      a {
        font-size: 12px;
        color: #FFF;
        text-decoration: none;
        line-height: 1.5em;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  .txt-footer {
    font-size: 12px;
    color: $grey;
  }
  form {
    margin: 15px 0;
    input {
      padding: 12px 20px;
      box-sizing: border-box;
      border: none;
      border-radius: 25px 0 0 25px;
      outline: none;
      font-size: 12px;
    }
    button {
      margin-left: -5px;
      padding: 11px 12px 12px 12px;
      font-weight: 500;
      font-size: 13.5px;
      color: #FFF;
      text-transform: uppercase;
      text-decoration: none;
      border: none;
      -moz-border-radius: 0 25px 25px 0;
      -webkit-border-radius: 0 25px 25px 0;
      border-radius: 0 25px 25px 0;
      background-color: $orange;
      background-image: linear-gradient(90deg, $orange 0%, $orange 55%, #FFC000 80%);
      background-position: 0 0;
      background-size: 200% 200%;
      cursor: pointer;
      outline: none;
    }
    button:hover {
      transition: 0.3s all ease;
      background-position: 50% 0;
    }
  }
  hr {
    border: 0.5px solid $darkgrey;
  }
  .mention-legale {
    font-size: 14px;
    color: $darkgrey;
    padding-bottom: 10px;
  }
}

.natixis-endossement {
  width: 95%;
  margin: 10px auto;
  .natixis-txt {
    display: flex;
    flex-direction: column;
    p {
      font-size: 12px !important;
      color: rgb(88, 29, 116) !important;
      a {
        font-size: 12px !important;
        text-decoration: none;
        color: inherit;
      }
    }
    .natixis-med,a {
      font-family: $font-natixis-m !important;
      text-decoration: none;
      width: 55%;
      a:hover {
        text-decoration: underline;
      }
    }
    .natixis-light {
      width: 50%;
      font-family: $font-natixis-l !important;
    }
  }
  .natixis-logo {
    float: right;
    margin-top: -50px;
    width: 108px;
  }
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
  .footer-flex {
    flex-direction: row;
  }

  .footer {
    .footer-nav {
      margin-top: 50px;
      flex-direction: row;
      justify-content: flex-end;
      .footer-nav-bloc {
        margin-left: 30px;
      }
    }
  }
}

@media screen and (min-width: 992px) {

  .footer {
    .footer-nav {
      .footer-nav-bloc {
        margin-left: 130px;
        a {
          font-size: 14px;
        }
      }
    }
  }

  .natixis-endossement {
    .natixis-txt {
      flex-direction: row;
      .natixis-med,a {
        width: auto;
      }
      .natixis-light {
        margin-left: 25px;
        width: auto;
      }
    }
    .natixis-logo {
      margin-top: -40px;
    }
  }
}
