@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import "./variables.scss";

html, body {
  margin:0;
  padding:0;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

.wrapper-separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 113, 0, 0.75), rgba(0, 0, 0, 0));
  padding: 0 !important;
  width: 90%;
}

/*--------------------------
            TEST
---------------------------*/
h1.text-hero {
  font-size: 36px;
}
h2.text-hero {
  font-size: 26px;
}
.test-resize-hero {
  max-width: 500px;
}
.test-resize-hero-cdu {
  max-width: 600px;
}

//COMMON-TEXT
h1, h2, h3, h4, p, a, ul, li, button, label, input, select, span, th, td, tr, img {
  font-family: $fontstack;
  text-decoration: none;
}

h1 {
  font-size: 26px;
  color: $darkblue;
  font-weight: 700;
}
h2 {
  font-size: 20px;
  color: $darkblue;
  font-weight: 600;
}
h3 {
  font-size: 18px;
  color: $orange;
  font-weight: 200;
}
h4 {
  font-size: 16px;
  color: $darkgrey;
  font-weight: 300;
}
p, ul, li, button, input, label, select, span, th, td, tr {
  font-size: 14px;
  color: $black;
}

a {
  font-size: 14px;
  text-decoration: underline;
  color: $darkblue;
  font-weight: 300;
  cursor: pointer;
}

//SPECIAL-TEXT
.text-hero {
  color: #FFF;
}
span.text-hero {
  font-weight: 600;
}
.text-center {
  text-align: center !important;
}

.text-blue {
  color: $blue;
}

.text-right {
  text-align: right;
}

.link-center {
  margin: auto !important;
}
.p-bold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}

.number-bold {
  font-size: 36px;
  font-weight: 600;
  color: $orange;
  margin-right: 10px;
}

.notvisible {
  visibility: hidden;
  color: $grey;
}

.bloc-infos-filiale {
  text-align: justify;
  text-justify: inter-word;
}


//COMMON-IMAGE
.gradient {
  width: 70px;
  border: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: $orange;
  background-image: linear-gradient(90deg, $orange 0%, $orange 55%, #FFC000 80%);
  background-position: 0 0;
  background-size: 200% 200%;
  -webkit-box-shadow: 2px 4px 7px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 4px 7px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 4px 7px 0px rgba(0,0,0,0.1);
}
.bloc-g:hover {
  .gradient {
    transition: 0.3s all ease;
    background-position: 50% 0;
  }
}

//COMMON-FLEX
.flex-env {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  > * {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
  }
}

.justify-a {
  justify-content: space-around !important;
}

.flex-sp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  > * {
    margin: 25px 0;
  }
}
.flex-align-center {
  align-items: center !important;
}

.bloc-cdu {
  display: flex;
  flex-direction: column;
  align-items: center;
  .gradient:hover {
    transition: 0.3s all ease;
    background-position: 50% 0;
  }
}

.align-st {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.flex-contact, .bloc-img-filiale {
  display: flex;
  flex-direction: column;
}

.bloc-contact-rs-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bloc-img-filiale {
  align-items: center;
  padding: 50px;
  > * {
    margin: 10px 0;
  }
}

.pic-h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    margin-right: 15px;
  }
}

.form-plezi-text {
  align-items: flex-start;
  text-align: left;
}
.cdu-demo { 
  align-items: flex-start;
  .bloc-cdu-demo {
    margin: 0;
    p {
      font-size: 12px;
    }
  }
}

//COMMON-DIV
.wrapper {
  width: 90%;
  margin: 50px auto 0;
}

.inner-margin {
  margin: 15px auto 50px;
}

.bloc-w {
  background-color: #FFF;
  -webkit-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
}
.bloc-g {
  background-color: $grey;
  -webkit-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  height: 280px;
}

.bloc-ccm-pers {
  background-color: $grey;
  -webkit-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  padding: 20px;
  height: 192px;
}

.left {
  left: 0;
}

.right {
  position: relative;
  left: 20%;
}

.bloc-flottant {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 55%;
  }
}
.text-flottant-bg {
  background-color: #FFF;
  padding: 10px 20px 50px;;
}

.margin-bottom {
  margin-bottom: 50px;
}
.margin-top {
  margin-top: 50px;
}

//SPECIAL-DIV

.video-center{
  text-align: center;
  iframe {
    width: 280px;
    height: 157.5px;
  }
}

.bloc-contact {
  width: 288px;
}

.mw-310 {
  max-width: 310px;
}
//BACKGROUND
.bg-hero-homepage {
  height: calc(100vh - 250px);
  min-height: 450px;
  background-image: url('../assets/images/background/background_hp_004.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 30px 0 200px;
}
.bg-grey {
  background: linear-gradient(#FFF, $grey);
  padding: 50px 0;
}

.bg-no-rounded {
  border-top-left-radius: 100% 0% !important;
  border-top-right-radius: 100% 0% !important;
  border-bottom-left-radius: 100% 0% !important;
  border-bottom-right-radius: 100% 0% !important;
}

.bg-pre-footer {
  background: url('../assets/images/background/background_prf_001.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 80px 0;
}

.sp-padding {
  padding-top: 0 !important;
}
.sp-inner-padding {
  padding: 50px 0;
}

//COMMON-CTA
.cta {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 50px auto 25px;
}
.button-plain {
  background-color: $orange;
  color: #FFF;
  border: 2px solid $orange;
  border-radius: 5px;
  width: 260px !important;
  -webkit-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
}
.button-plain:hover {
  transition: 0.3s all ease;
  transform: translateY(5px);
  -webkit-box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.1);
}
.button-outline {
  background-color: #FFF;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 5px;
  width: 260px !important;
  -webkit-box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 5px 8px 0px rgba(0,0,0,0.1);
}
.button-outline:hover {
  transition: 0.3s all ease;
  transform: translateY(5px);
}
.padding-cta {
  padding: 12px;
}

.button-blue {
  text-decoration: none;
  background-color: $orange;
  background-image: linear-gradient(90deg, $blue 0%, $blue 55%, #00D2FE 80%);
  background-position: 0 0;
  background-size: 200% 200%;
  border: none !important;
}
.button-blue:hover {
  transition: 0.3s all ease;
  background-position: 50% 0;
}

//PREINSCRIPTION-FORM
.pre-inscription {
  margin: 50px auto 0;
  width: 100%;
  input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 12px;
  }
  button {
    margin-left: -5px;
    padding: 11px 12px 12px 12px;
    font-weight: 500;
    font-size: 13.5px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    -moz-border-radius: 0 25px 25px 0;
    -webkit-border-radius: 0 25px 25px 0;
    border-radius: 0 5px 5px 0;
    background-color: $orange;
    background-image: linear-gradient(90deg, $orange 0%, $orange 55%, #FFC000 80%);
    background-position: 0 0;
    background-size: 200% 200%;
    cursor: pointer;
    outline: none;
  }
  button:hover {
    transition: 0.3s all ease;
    background-position: 50% 0;
  }
}

//CONTACT-SUPPORT-FORM
.contact-support {
  width: 70%;
  margin: 50px auto;
  text-align: left;
  label {
    color: $blue;
    font-weight: 600;
    .no-bold {
      color: $blue;
      font-weight: 400;
    }
  }
  input[type=text], input[type=number], textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid $darkgrey;
    outline: none;
    font-size: 12px;
    width: 100%;
    margin: 10px auto 25px;
  }
  input[type=text]:focus, input[type=number]:focus, textarea:focus {
    border-bottom: 1px solid $orange;
  }
  input[type=submit] {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid $orange;
    border-radius: 5px;
    background-color: $orange;
    color: #FFF;
    outline: none;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #FFF;
    color: $orange;
  }
}

// CONTACT-PAGE-FORM
.contact-page {
  width: 100%;
  margin: 25px auto;
  text-align: left;
  label {
    color: $blue;
    font-weight: 600;
    .no-bold {
      color: $blue;
      font-weight: 400;
    }
  }
  input[type=text], input[type=number], textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid $darkgrey;
    outline: none;
    font-size: 12px;
    width: 100%;
    margin: 10px auto 25px;
  }
  input[type=text]:focus, input[type=number]:focus, textarea:focus {
    border-bottom: 1px solid $orange;
  }
  input[type=submit] {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid $orange;
    border-radius: 5px;
    background-color: $orange;
    color: #FFF;
    outline: none;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #FFF;
    color: $orange;
  }
}

// ADHERENT FORM
.no-adherent {
  input {
    width: 100px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid $darkgrey;
  }
  input:focus {
    border: 1px solid $blue;
  }
}
// CREATION-COMPTE-FORM
.creation-compte {
  width: 50%;
  margin: 50px auto;
  padding: 50px;
  background-color: $grey;
  border-radius: 5px;
  input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid $darkgrey;
    outline: none;
    font-size: 14px;
    width: 100%;
    margin: 10px auto 15px;
  }
  select {
    display: block;
    font-size: 14px;
    padding: 12px 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px auto 15px;
    border: none;
    border-bottom: 1px solid $darkgrey;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  select::-ms-expand {
      display: none;
  }
  select:hover {
      border-color: #888;
  }
  input:focus, select:focus {
      border-bottom: 1px solid $orange;
      outline: none;
  }
  button {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid $orange;
    border-radius: 5px;
    background-color: $orange;
    color: #FFF;
    outline: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #FFF;
    color: $orange;
  }
}
input#mail {
  // visibility: hidden;
  display: none;
}
//TABLEAU-TARIFS
.table-bg {
  overflow-x: auto;
  background-color: $grey;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
}

.tarifs-table {
  border-collapse: collapse;
  width: 100%;
  th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid $blue;
    border-right: 1px solid $blue;
    img {
      width: 20px;
    }
  }
  .table-grey {
    color: $darkgrey;
  }
  .table-orange {
    color: $orange;
  }
  .table-title {
    font-weight: 700;
    font-size: 20px;
  }
  .last-right {
    border-right: none;
  }
  .last-bottom {
    border-bottom: none;
  }
}

//ACCORDION
.accordion {
  background-color: $grey;
  color: $lightblack;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}
.active, .accordion:hover {
  color: $blue;
  background-color: $formgrey;
}
.accordion:after {
  content: '\002B';
  color: $lightblack;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: '\2212';
  color: $blue;
}
.panel {
  padding: 0 18px;
  background-color: $lightgrey;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

//RESPONSIVE RESIZE
.resize {
  width: 80%;
}

//TOGGLE SLIDER TEAM
.block-team {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 999px;
  background-color: $grey;
  padding: 25px 15px;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.15);
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.15);
  transition: all 0.3s;
}
.block-team:hover, .block-team:focus {
  background-color: #FFF;
  -webkit-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.15);
  box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.15);
  p{
    color: $orange;
  }
}

// TOOGLE PARTENAIRES
.flex-partenaires {
  display: flex;
  flex-flow: wrap;
  .toggle-partenaire {
    outline: none;
    cursor: pointer;
    border: 1px solid $grey;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.15);
    transition: all 0.3s;
    img{
      width: 100px;
    }
  }
  .toggle-partenaire:hover, .toggle-partenaire:focus {
    border: 1px solid $blue;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.15);
  }
}

.bloc-partenaire {
  img {
    margin: 20px;
  }
}

#blocFFBB {
 display: none;
}
#blocFFBAD {
 display: none;
}
#blocFFBS {
 display: none;
}
#blocFFE {
 display: none;
}
#blocFFL {
 display: none;
}
#blocFFSAVATE {
 display: none;
}
#blocASPTT {
 display: none;
}
#blocFFSPT {
 display: none;
}
#blocUNSS {
 display: none;
}

#blocFooteo {
  display: none;
 }
#blocStadline {
 display: none;
}
#blocDecathPro {
 display: none;
}

/*------------------------
          PRESSE
-------------------------*/ 
.flex-presse {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}  
.crop-presse {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

/*-----
OVERLAY
------*/
.outer {
  position: relative;
  width: 250px;
  height: 200px;
  margin: 15px;
  cursor: pointer;
}
.overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: $darkblue;
  opacity: 0.7;
  top: 0;
  cursor: pointer;
  border-radius: 5px;
}
.outer:hover {
  .overlay {
    display: none;
  }
}
.overlay--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}

/*-----
 MODAL
------*/
#imgChallenges {
  border-radius: 5px;
  cursor: pointer;
}
#imgLemonde {
  border-radius: 5px;
  cursor: pointer;
}
#imgLequipe {
  border-radius: 5px;
  cursor: pointer;
}
#imgMaddyness {
  border-radius: 5px;
  cursor: pointer;
}
#imgRtl {
  border-radius: 5px;
  cursor: pointer;
}
#imgBfm {
  border-radius: 5px;
  cursor: pointer;
}

.modal--presse {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0,0,0,0.9);
}
.modal--presse-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}
#caption--presse {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: $lightgrey;
  padding: 10px 0;
  height: 150px;
  font-family: $fontstack;
}
.modal--presse-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.3s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
.close--presse {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  transition: 0.3s;
}
.close--presse:hover, .close--presse:focus {
  color: $grey;
  text-decoration: none;
  cursor: pointer;
}



@media screen and (min-width: 576px) {
//COMMON-DIV
  .bloc-contact {
    margin: auto;
  }
//SPECIAL-DIV
  .video-center{
    iframe {
      width: 500px;
      height: 281.25px;
    }
  }
}



@media screen and (min-width: 768px) {

/*------------------------
          PRESSE
-------------------------*/ 
/*-----
 MODAL
------*/
.modal--presse-content {
  width: 80%;
}
  
  //COMMON

  h1 {font-size: 36px;}
  h2 {font-size: 28px;}
  h3 {font-size: 22px;}
  h4 {font-size: 18px;}
  p, a, ul, li, button, input, label, select, span,th, td, tr {font-size: 16px;}

  .table-bg {
    overflow-x: none;
    padding: 40px;
  }

  .tarifs-table {
    th, td {
      padding: 15px;
      img {
        width: 20px;
      }
    }
  }

  .size-20 {font-size: 20px;}

  //SPECIAL-DIV
    .video-center{
      iframe {
        width: 650px;
        height: 365.63px;
      }
    }
}

@media screen and (min-width: 992px) {
  .wrapper-separator {
    height: 320px !important;
    width: 1px !important;
  }
  .wrapper {
    width: 80%;
  }

  .flex-env {
    flex-direction: row;
    > * {
      width: 500px;
    }
  }

  .bloc-w {
    width: 350px !important;
    height: 280px;
  }

  .flex-contact {
    flex-direction: row;
    align-items: flex-start;
    .contact-page {
      width: 50%;
    }
    .bloc-contact {
      margin-top: 0;
    }
  }
  .bloc-img-filiale {
    margin-left: 50px;
  }

  .pre-inscription {
    margin: 50px auto 0;
    width: 100%;
    input {
      width: 350px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .list {
    width: 500px;
  }
  .right {
    left: 0;
  }
  .inner-margin {
      width: 40%;
  }
  .flex-sp {
    flex-direction: row;
  }
  .reverse {
    flex-direction: row-reverse !important;
  }
  .resize {
    width: 50%;
  }

  .bloc-flottant {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .text-flottant-r {
    position: relative;
    right: 150px;
  }
  .text-flottant-l {
    position: relative;
    text-align: right;
    left: 150px;
  }
  .text-flottant-bg {
    background-color: #FFF;
    padding: 10px 20px 50px;;
  }
}
