@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800");
html, body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

.wrapper-separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 113, 0, 0.75), rgba(0, 0, 0, 0));
  padding: 0 !important;
  width: 90%;
}

/*--------------------------
            TEST
---------------------------*/
h1.text-hero {
  font-size: 36px;
}

h2.text-hero {
  font-size: 26px;
}

.test-resize-hero {
  max-width: 500px;
}

.test-resize-hero-cdu {
  max-width: 600px;
}

h1, h2, h3, h4, p, a, ul, li, button, label, input, select, span, th, td, tr, img {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

h1 {
  font-size: 26px;
  color: #334868;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  color: #334868;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  color: #FF7100;
  font-weight: 200;
}

h4 {
  font-size: 16px;
  color: #707070;
  font-weight: 300;
}

p, ul, li, button, input, label, select, span, th, td, tr {
  font-size: 14px;
  color: #2E2E2E;
}

a {
  font-size: 14px;
  text-decoration: underline;
  color: #334868;
  font-weight: 300;
  cursor: pointer;
}

.text-hero {
  color: #FFF;
}

span.text-hero {
  font-weight: 600;
}

.text-center {
  text-align: center !important;
}

.text-blue {
  color: #008DFE;
}

.text-right {
  text-align: right;
}

.link-center {
  margin: auto !important;
}

.p-bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.number-bold {
  font-size: 36px;
  font-weight: 600;
  color: #FF7100;
  margin-right: 10px;
}

.notvisible {
  visibility: hidden;
  color: #F2F2F2;
}

.bloc-infos-filiale {
  text-align: justify;
  text-justify: inter-word;
}

.gradient {
  width: 70px;
  border: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #FF7100;
  background-image: linear-gradient(90deg, #FF7100 0%, #FF7100 55%, #FFC000 80%);
  background-position: 0 0;
  background-size: 200% 200%;
  -webkit-box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.1);
}

.bloc-g:hover .gradient {
  transition: 0.3s all ease;
  background-position: 50% 0;
}

.flex-env {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.flex-env > * {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
}

.justify-a {
  justify-content: space-around !important;
}

.flex-sp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-sp > * {
  margin: 25px 0;
}

.flex-align-center {
  align-items: center !important;
}

.bloc-cdu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloc-cdu .gradient:hover {
  transition: 0.3s all ease;
  background-position: 50% 0;
}

.align-st {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.flex-contact, .bloc-img-filiale {
  display: flex;
  flex-direction: column;
}

.bloc-contact-rs-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bloc-img-filiale {
  align-items: center;
  padding: 50px;
}
.bloc-img-filiale > * {
  margin: 10px 0;
}

.pic-h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pic-h3 img {
  margin-right: 15px;
}

.form-plezi-text {
  align-items: flex-start;
  text-align: left;
}

.cdu-demo {
  align-items: flex-start;
}
.cdu-demo .bloc-cdu-demo {
  margin: 0;
}
.cdu-demo .bloc-cdu-demo p {
  font-size: 12px;
}

.wrapper {
  width: 90%;
  margin: 50px auto 0;
}

.inner-margin {
  margin: 15px auto 50px;
}

.bloc-w {
  background-color: #FFF;
  -webkit-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
}

.bloc-g {
  background-color: #F2F2F2;
  -webkit-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  height: 280px;
}

.bloc-ccm-pers {
  background-color: #F2F2F2;
  -webkit-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 192px;
}

.left {
  left: 0;
}

.right {
  position: relative;
  left: 20%;
}

.bloc-flottant {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloc-flottant img {
  width: 55%;
}

.text-flottant-bg {
  background-color: #FFF;
  padding: 10px 20px 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.margin-top {
  margin-top: 50px;
}

.video-center {
  text-align: center;
}
.video-center iframe {
  width: 280px;
  height: 157.5px;
}

.bloc-contact {
  width: 288px;
}

.mw-310 {
  max-width: 310px;
}

.bg-hero-homepage {
  height: calc(100vh - 250px);
  min-height: 450px;
  background-image: url("../assets/images/background/background_hp_004.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 30px 0 200px;
}

.bg-grey {
  background: linear-gradient(#FFF, #F2F2F2);
  padding: 50px 0;
}

.bg-no-rounded {
  border-top-left-radius: 100% 0% !important;
  border-top-right-radius: 100% 0% !important;
  border-bottom-left-radius: 100% 0% !important;
  border-bottom-right-radius: 100% 0% !important;
}

.bg-pre-footer {
  background: url("../assets/images/background/background_prf_001.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 80px 0;
}

.sp-padding {
  padding-top: 0 !important;
}

.sp-inner-padding {
  padding: 50px 0;
}

.cta {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 50px auto 25px;
}

.button-plain {
  background-color: #FF7100;
  color: #FFF;
  border: 2px solid #FF7100;
  border-radius: 5px;
  width: 260px !important;
  -webkit-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
}

.button-plain:hover {
  transition: 0.3s all ease;
  transform: translateY(5px);
  -webkit-box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.1);
}

.button-outline {
  background-color: #FFF;
  color: #FF7100;
  border: 2px solid #FF7100;
  border-radius: 5px;
  width: 260px !important;
  -webkit-box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.1);
}

.button-outline:hover {
  transition: 0.3s all ease;
  transform: translateY(5px);
}

.padding-cta {
  padding: 12px;
}

.button-blue {
  text-decoration: none;
  background-color: #FF7100;
  background-image: linear-gradient(90deg, #008DFE 0%, #008DFE 55%, #00D2FE 80%);
  background-position: 0 0;
  background-size: 200% 200%;
  border: none !important;
}

.button-blue:hover {
  transition: 0.3s all ease;
  background-position: 50% 0;
}

.pre-inscription {
  margin: 50px auto 0;
  width: 100%;
}
.pre-inscription input {
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 12px;
}
.pre-inscription button {
  margin-left: -5px;
  padding: 11px 12px 12px 12px;
  font-weight: 500;
  font-size: 13.5px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  -moz-border-radius: 0 25px 25px 0;
  -webkit-border-radius: 0 25px 25px 0;
  border-radius: 0 5px 5px 0;
  background-color: #FF7100;
  background-image: linear-gradient(90deg, #FF7100 0%, #FF7100 55%, #FFC000 80%);
  background-position: 0 0;
  background-size: 200% 200%;
  cursor: pointer;
  outline: none;
}
.pre-inscription button:hover {
  transition: 0.3s all ease;
  background-position: 50% 0;
}

.contact-support {
  width: 70%;
  margin: 50px auto;
  text-align: left;
}
.contact-support label {
  color: #008DFE;
  font-weight: 600;
}
.contact-support label .no-bold {
  color: #008DFE;
  font-weight: 400;
}
.contact-support input[type=text], .contact-support input[type=number], .contact-support textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  font-size: 12px;
  width: 100%;
  margin: 10px auto 25px;
}
.contact-support input[type=text]:focus, .contact-support input[type=number]:focus, .contact-support textarea:focus {
  border-bottom: 1px solid #FF7100;
}
.contact-support input[type=submit] {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #FF7100;
  border-radius: 5px;
  background-color: #FF7100;
  color: #FFF;
  outline: none;
  cursor: pointer;
}
.contact-support input[type=submit]:hover {
  background-color: #FFF;
  color: #FF7100;
}

.contact-page {
  width: 100%;
  margin: 25px auto;
  text-align: left;
}
.contact-page label {
  color: #008DFE;
  font-weight: 600;
}
.contact-page label .no-bold {
  color: #008DFE;
  font-weight: 400;
}
.contact-page input[type=text], .contact-page input[type=number], .contact-page textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  font-size: 12px;
  width: 100%;
  margin: 10px auto 25px;
}
.contact-page input[type=text]:focus, .contact-page input[type=number]:focus, .contact-page textarea:focus {
  border-bottom: 1px solid #FF7100;
}
.contact-page input[type=submit] {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #FF7100;
  border-radius: 5px;
  background-color: #FF7100;
  color: #FFF;
  outline: none;
  cursor: pointer;
}
.contact-page input[type=submit]:hover {
  background-color: #FFF;
  color: #FF7100;
}

.no-adherent input {
  width: 100px;
  padding: 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #707070;
}
.no-adherent input:focus {
  border: 1px solid #008DFE;
}

.creation-compte {
  width: 50%;
  margin: 50px auto;
  padding: 50px;
  background-color: #F2F2F2;
  border-radius: 5px;
}
.creation-compte input {
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  font-size: 14px;
  width: 100%;
  margin: 10px auto 15px;
}
.creation-compte select {
  display: block;
  font-size: 14px;
  padding: 12px 20px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 10px auto 15px;
  border: none;
  border-bottom: 1px solid #707070;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.creation-compte select::-ms-expand {
  display: none;
}
.creation-compte select:hover {
  border-color: #888;
}
.creation-compte input:focus, .creation-compte select:focus {
  border-bottom: 1px solid #FF7100;
  outline: none;
}
.creation-compte button {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #FF7100;
  border-radius: 5px;
  background-color: #FF7100;
  color: #FFF;
  outline: none;
  cursor: pointer;
}
.creation-compte button:hover {
  background-color: #FFF;
  color: #FF7100;
}

input#mail {
  display: none;
}

.table-bg {
  overflow-x: auto;
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.1);
}

.tarifs-table {
  border-collapse: collapse;
  width: 100%;
}
.tarifs-table th, .tarifs-table td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #008DFE;
  border-right: 1px solid #008DFE;
}
.tarifs-table th img, .tarifs-table td img {
  width: 20px;
}
.tarifs-table .table-grey {
  color: #707070;
}
.tarifs-table .table-orange {
  color: #FF7100;
}
.tarifs-table .table-title {
  font-weight: 700;
  font-size: 20px;
}
.tarifs-table .last-right {
  border-right: none;
}
.tarifs-table .last-bottom {
  border-bottom: none;
}

.accordion {
  background-color: #F2F2F2;
  color: #252525;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.active, .accordion:hover {
  color: #008DFE;
  background-color: #E0E0E0;
}

.accordion:after {
  content: "+";
  color: #252525;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "−";
  color: #008DFE;
}

.panel {
  padding: 0 18px;
  background-color: #FDFDFD;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.resize {
  width: 80%;
}

.block-team {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 999px;
  background-color: #F2F2F2;
  padding: 25px 15px;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}

.block-team:hover, .block-team:focus {
  background-color: #FFF;
  -webkit-box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.15);
}
.block-team:hover p, .block-team:focus p {
  color: #FF7100;
}

.flex-partenaires {
  display: flex;
  flex-flow: wrap;
}
.flex-partenaires .toggle-partenaire {
  outline: none;
  cursor: pointer;
  border: 1px solid #F2F2F2;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}
.flex-partenaires .toggle-partenaire img {
  width: 100px;
}
.flex-partenaires .toggle-partenaire:hover, .flex-partenaires .toggle-partenaire:focus {
  border: 1px solid #008DFE;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
}

.bloc-partenaire img {
  margin: 20px;
}

#blocFFBB {
  display: none;
}

#blocFFBAD {
  display: none;
}

#blocFFBS {
  display: none;
}

#blocFFE {
  display: none;
}

#blocFFL {
  display: none;
}

#blocFFSAVATE {
  display: none;
}

#blocASPTT {
  display: none;
}

#blocFFSPT {
  display: none;
}

#blocUNSS {
  display: none;
}

#blocFooteo {
  display: none;
}

#blocStadline {
  display: none;
}

#blocDecathPro {
  display: none;
}

/*------------------------
          PRESSE
-------------------------*/
.flex-presse {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.crop-presse {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

/*-----
OVERLAY
------*/
.outer {
  position: relative;
  width: 250px;
  height: 200px;
  margin: 15px;
  cursor: pointer;
}

.overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #334868;
  opacity: 0.7;
  top: 0;
  cursor: pointer;
  border-radius: 5px;
}

.outer:hover .overlay {
  display: none;
}

.overlay--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}

/*-----
 MODAL
------*/
#imgChallenges {
  border-radius: 5px;
  cursor: pointer;
}

#imgLemonde {
  border-radius: 5px;
  cursor: pointer;
}

#imgLequipe {
  border-radius: 5px;
  cursor: pointer;
}

#imgMaddyness {
  border-radius: 5px;
  cursor: pointer;
}

#imgRtl {
  border-radius: 5px;
  cursor: pointer;
}

#imgBfm {
  border-radius: 5px;
  cursor: pointer;
}

.modal--presse {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal--presse-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

#caption--presse {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #FDFDFD;
  padding: 10px 0;
  height: 150px;
  font-family: "Montserrat", sans-serif;
}

.modal--presse-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close--presse {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  transition: 0.3s;
}

.close--presse:hover, .close--presse:focus {
  color: #F2F2F2;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .bloc-contact {
    margin: auto;
  }

  .video-center iframe {
    width: 500px;
    height: 281.25px;
  }
}
@media screen and (min-width: 768px) {
  /*------------------------
            PRESSE
  -------------------------*/
  /*-----
   MODAL
  ------*/
  .modal--presse-content {
    width: 80%;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  p, a, ul, li, button, input, label, select, span, th, td, tr {
    font-size: 16px;
  }

  .table-bg {
    overflow-x: none;
    padding: 40px;
  }

  .tarifs-table th, .tarifs-table td {
    padding: 15px;
  }
  .tarifs-table th img, .tarifs-table td img {
    width: 20px;
  }

  .size-20 {
    font-size: 20px;
  }

  .video-center iframe {
    width: 650px;
    height: 365.63px;
  }
}
@media screen and (min-width: 992px) {
  .wrapper-separator {
    height: 320px !important;
    width: 1px !important;
  }

  .wrapper {
    width: 80%;
  }

  .flex-env {
    flex-direction: row;
  }
  .flex-env > * {
    width: 500px;
  }

  .bloc-w {
    width: 350px !important;
    height: 280px;
  }

  .flex-contact {
    flex-direction: row;
    align-items: flex-start;
  }
  .flex-contact .contact-page {
    width: 50%;
  }
  .flex-contact .bloc-contact {
    margin-top: 0;
  }

  .bloc-img-filiale {
    margin-left: 50px;
  }

  .pre-inscription {
    margin: 50px auto 0;
    width: 100%;
  }
  .pre-inscription input {
    width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .list {
    width: 500px;
  }

  .right {
    left: 0;
  }

  .inner-margin {
    width: 40%;
  }

  .flex-sp {
    flex-direction: row;
  }

  .reverse {
    flex-direction: row-reverse !important;
  }

  .resize {
    width: 50%;
  }

  .bloc-flottant {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .text-flottant-r {
    position: relative;
    right: 150px;
  }

  .text-flottant-l {
    position: relative;
    text-align: right;
    left: 150px;
  }

  .text-flottant-bg {
    background-color: #FFF;
    padding: 10px 20px 50px;
  }
}

/*# sourceMappingURL=style.css.map */
