$fontstack: 'Montserrat', sans-serif;
$font-natixis-l: 'PlutoLight', sans-serif;
$font-natixis-m: 'PlutoMedium', sans-serif;

$blue: #008DFE;
$orange: #FF7100;
$lightgrey : #FDFDFD;
$grey: #F2F2F2;
$greyfooter: #9A9A9A;
$bluegrey: #3E83C5;
$lightblack: #252525;
$black: #2E2E2E;
$darkblue: #334868;
$darkgrey: #707070;
$orangehover: #FF9600;
$bluehover: #00AEFE;

$formgrey: #E0E0E0;

$animate: all 0.5s ease-in-out;
