@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');
@import "./variables.scss";

html, body {
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}

.main {
  width: 85%;
  margin: auto;
  position: relative;
  height: fit-content;
}

.margin-top {
  margin-top: 50px;
}

h1, h2, h3, p, a, button {
  font-family: $fontstack;
  text-decoration: none;
  line-height: 1.5em;
}

h1 {
  color: $white;
  font-size: 26px;
  font-weight: 700;
}

h2 {
  color: $blue1;
  font-size: 22px;
  font-weight: 700;
}

h3 {
  color: $blue2;
  font-size: 18px;
  font-weight: 700;
}

p {
  color: $blue1;
  font-size: 14px;
  font-weight: 400;
}

a, button {
  color: $blue2;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
a:hover, button:hover {
  color: $orange;
}

header {
  padding-bottom: 150px;
  background: linear-gradient($blue2, $blue1);
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 5vw),
    0 100%
  );
  text-align: center;
  .main {
    padding-top: 25px;
  }
  p {
    color: $white;
  }
}

.header_post {
  border-radius: 5px;
  padding: 10px;
  background-color: $grey1;
  position: absolute;
  top: -150px;
  width: 95%;
  align-items: center;
  -webkit-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.1);
  iframe {
    width: -webkit-fill-available;
    height: auto;

  }
}

section {
  text-align: center;
  padding: 50px 0;
}

.no_padding_bottom {
  padding-bottom: 0;
}

.background {
  background: linear-gradient($grey2, $grey3);
  clip-path: polygon(
    0 calc(0% + 5vw),
    100% 0,
    100% calc(100% - 5vw),
    0 100%
  );
}

.no_clip_path_bottom {
  clip-path: polygon(
    0 calc(0% + 5vw),
    100% 0,
    100% 100%,
    0 100%
  ) !important;
}

footer {
  padding: 50px 0 20px;
  background: linear-gradient($blue2, $blue1);
  text-align: center;
  img {
    margin: 0 auto 30px;
  }
  .rs {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    hr {
      margin: 0 10px;
      height: 20px;
    }
  }
  .footer_nav {
    button, a {
      color: $white;
      margin: 20px auto;
      text-decoration: none;
    }
    button:hover, a:hover {
      text-decoration: underline;
    }
  }
  .last {
    width: 85%;
    margin: 30px auto 0;
  }
  p {
    color: $white;
  }
}

.section_img {
  width: 80%;
}

.section_cta {
  border-radius: 5px;
  border: 2px solid $blue1;
  text-decoration: none;
  background-color: $blue1;
  color: $white;
  padding: 12px 18px;
  margin-top: 25px;
  font-weight: 700;
}

.section_cta:hover {
  color: $blue1;
  background-color: $white;
}

//MODAL
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .section_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .section_flex_text {
      width: 45%;
    }
    .section_flex_text_2 {
      width: 55%;
    }
    .section_flex_bloc {
      width: 30%;
    }
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 42px;
    margin-bottom: 50px;
  }
  h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  h3 {font-size: 22px;}
  p, a, button {font-size: 18px;}

  header {
    text-align: left;
  }

  .header_text {
    text-align: left;
    width: 50%;
  }

  .header_post {
    width: 400px;
    right: 0;
    top: -490px;
    height: 500px;
    iframe {
      height: -webkit-fill-available;
    }
  }

  .text-left {
    text-align: left;
  }

  section {
    padding: 50px 0 100px;
  }

  .section_img {
    max-width: 400px;
  }

  footer {
    text-align: left;
    .footer_flex {
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
    img {
      margin: 0 auto 30px;
    }
    .rs {
      display: flex;
      align-items: flex-start;
      justify-content: left;
      width: 100%;
      margin: 20px auto;
      hr {
        margin: 0 10px;
        height: 20px;
      }
    }
    .footer_nav {
      text-align: right;
      button {
        padding: 0;
      }
      button, a {
        color: $white;
        margin: 20px auto;
        text-decoration: none;
      }
      button:hover, a:hover {
        text-decoration: underline;
      }
    }
    .last {
      width: 85%;
      margin: 30px auto 0;
    }
    p {
      color: $white;
    }
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 70%;
  }
}
